<h3>Cross- Shop відправив Ваше замовлення</h3>
<p>
  Це повідомлення повідомляє Вас, що ми відправили Ваше нещодавнє замовлення:
</p>
<table>
  <tr><th colspan="2">К-ть</th><th>Опис</th></tr>
  <%= render @order.line_items -%>
</table>
